<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>
     	I have a background in observational astronomy. My research area is in star formation, which involved analyzing data from large observational surveys by extracting structures from images and finding relationships across multiple surveys. I am interested in using data, statistics, and machine learning to learn new things in different areas.
     </p>
     <p>
     	Please check out the blog posts for examples of my work or check out my <a href="https://github.com/nnvutisa">Github page</a>. 
     </p>
</div>